@page "/"

<PageTitle>Time registration</PageTitle>

<button class="button" data-testid="bigin time registration" @onclick="onBiginTimeRegistration">Bigin Timeregistration</button>

<div data-testid="Status indicator">Status: @Status</div>