<div class="columns is-gapless-mobile">
    <div class="column">
        <div class="has-text-centered has-background-primary">
            <NavLink href="/">
                Counter
            </NavLink>
        </div>
    </div>
    <div class="column">
        <div class="has-text-centered has-background-primary">
            <NavLink href="/">
                Counter
            </NavLink>
        </div>
    </div>
    <div class="column">
        <div class="has-text-centered has-background-primary">
            <NavLink href="/">
                Counter
            </NavLink>
        </div>
    </div>
</div>